/* TODO Add site wide styles */
body {
	background-color: rgb(110 139 177 / 53%);
	background-repeat: no-repeat;
}

.btn-dark {
	color: white;
	border: 5px rgba(236, 241, 249, 255) solid;
	background-image: url("./images/swoosh1-cropped.png");
	height: 70px;
	width: auto;
	background-position: -10rem;
	word-wrap: normal;
	font-size: x-large;
	background-color: transparent;
	animation: button-fade-in 4s linear;
}

* {
	font-family: "Abril Fatface", cursive;
	font-size: large;
	/* animation: fade-in 2s linear; */
	box-sizing: border-box;
}

:is(.Event-Page-Container) button {
	margin: 5px;
	box-shadow: -1px -1px 5px 0px #0a245a;
}

strong {
	font-family: "math";
	font-size: large;
}

@keyframes button-fade-in {
	0% {
		opacity: 0;
		translate-y: 0%;
	}
	100% {
		opacity: 1;
		translate-y: 100%;
	}
}

.card {
	background-color: #7e99bd;
}
