.attendee-text-center {
	width: 300px;
	height: auto;
	margin: 0;
}

.attendee-card-text {
	overflow-y: auto;
	max-height: 60px;
	margin: 0;
}

.attendee-card-header {
	padding-top: 0;
	margin-top: -18px;
}

.attendee-card-body {
	background-color: transparent;
}
