.accordion-card {
	width: 33vw;
	overflow-y: auto;
	height: 75vh;
	max-width: 550px;
}

.accordion-item-name {
	overflow-x: auto;
	white-space: nowrap;
	margin-left: -0.5rem;
	margin-right: 0.2rem;
	width: 30vw;
	height: auto;
	justify-self: start;
	overscroll-behavior-y: none;
}

.accordion-item-contact {
	overflow-x: auto;
	overflow-y: auto;
	word-wrap: break-word;
	max-width: 30vw;
	height: auto;
	justify-self: start;
	min-width: 200px;
}

.badge {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}

.attendees-accordion-container {
	justify-content: center;
	display: grid;
	max-height: 50vh;
	min-width: 350px;
	width: 33vw;
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 550px;
}

.accordion {
	height: auto;
	max-height: 30vh;
	width: 33vw;
	overflow-y: auto;
	max-width: 550px;
}

.attendees-accordion-header {
	align-items: center;
	display: flex;
	justify-content: space-around;
	overflow-x: auto;
	overflow-y: hidden;
	width: 33vw;
	cursor: pointer;
	max-width: 550px;
}
