/* .list-group-item {
	position: relative;
	display: inline-flex;
	padding: 0.75rem 1.25rem;
	margin: 0.1rem 1.25rem;

	background-color: rgb(110 139 177 / 53%);
	border: 1px solid rgba(0, 0, 0, 0.125);
	justify-content: space-between;
	align-items: center;
	width: auto;

}

.list-group {
	width: 350px;
	overflow-y: auto;
	height: 75vh;
}

.list-group-item-name {
	overflow-x: auto;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

.badge {
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

.attendees-list-container {
	justify-content: center;
	display: grid;
	height: 75vh;
	width: 350px;
}

.attendees-list-header {
	align-items: center;
	display: flex;
	justify-content: space-around;
	overflow-x: auto;
	overflow-y: auto;
	width: 350px;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 0;
} */

.accordion-card {
	width: 275px;
	overflow-y: auto;
	height: 75vh;
}

.accordion-item-name {
	overflow-x: auto;
	white-space: nowrap;
	margin-left: -0.5rem;
	margin-right: 0.2rem;
	width: 200px;
	height: auto;
	justify-self: start;
	overscroll-behavior-y: none;
}

.accordion-item-contact {
	overflow-x: auto;
	overflow-y: auto;
	word-wrap: break-word;
	max-width: 200px;
	height: auto;
	justify-self: start;
}

.badge {
	margin-left: 0.15rem;
	margin-right: 0.15rem;
}

.attendees-accordion-container {
	justify-content: center;
	display: grid;
	max-height: 75vh;
	width: 275px;
	overflow-y: auto;
}

.accordion {
	height: 60vh;
	overflow-y: auto;
}

.attendees-accordion-header {
	align-items: center;
	display: flex;
	justify-content: space-around;
	overflow-x: auto;
	overflow-y: hidden;
	width: 275px;
	cursor: pointer;
}
